<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!--    <meta charset="UTF-8">
    <base href="${#request.getContextPath()+'/'}"/>
    <link rel="stylesheet"  th:href="@{/static/bootstrap/css/bootstrap.css }"/>
    <script type="text/javascript"  th:src="@{/static/bootstrap/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript"  th:src="@{/static/bootstrap/js/bootstrap.min.js}"></script>
    &lt;!&ndash;<link rel="icon" th：href="@{/static/img/favicon.ico}"/>&ndash;&gt;
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}" />
    <title>bilibili干杯!</title>
    <style>
        /*.navbar-brand{
            margin-top: 0;
        }*/
        .imgInDiv1{
            width: 180px;
            height: 140px;
        }
        .imgInDiv2{
            width: 198px;
            height: 150px;
        }
        .imgbigInDiv3{
            width: 300px;
            height: 300px;
        }

        .table{
            border: 0px;
            alignment: left;
        }
        .table>tbody>tr>td{
            border:0px;
        }
    </style>-->
</head>
<!--  href="static/bootstrap/css/bootstrap.css"
  src="static/bootstrap/jquery-3.2.1.min.js"
  src="static/bootstrap/js/bootstrap.min.js"-->
<body>
    <div th:fragment="header">
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/hello}" style="margin: 0 10px;padding: 10px 0;"><!--调整边距使图片居中-->
                    <img alt="Bilibili" th:src="@{/static/img/bilibili.png}">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/hello}">主站 <span class="sr-only">(current)</span></a></li><!-- class="active"-->
                    <li><a href="#">番剧</a></li>
                    <li><a href="#">游戏</a></li>
                    <li><a href="#">论坛</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">更多 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">漫画</a></li>
                            <li><a href="#">直播</a></li>
                            <li><a href="#">会员购</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">数码</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">鬼畜</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="快来一起玩耍吧">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <!--第一次必须使用request请求获取session，不然session不会产生-->
                    <li><a th:href="@{/login}" th:if="${#request.getSession().getAttribute('username')} == null" th:text="登录"></a></li>
                    <li><a th:href="@{/register}" th:if="${#session.getAttribute('username')} == null" th:text="注册"></a></li>
                    <li><a th:href="@{/personIndex}" th:if="${#session.getAttribute('username')}!=null" th:text="'欢迎您,'+${#session.getAttribute('username')}"></a></li>
                    <li><a th:if="${#session.getAttribute('username')}!=null" th:text="退出" id="exitButton"></a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">其他<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

        <div class="modal fade" tabindex="-1" role="dialog" id="logOutModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">确认退出？</h4>
                    </div>
                    <div class="modal-body">
                        <p>确定要退出吗？退出后需要重新登录！</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">手滑了</button>
                        <button type="button" class="btn btn-primary" id="logOutConfirm">是的，我要退出</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <script th:inline="javascript">
            $(function () {
                    /*启动模态框*/
                    $("#exitButton").click(function () {
                        $('#logOutModal').modal('show');
                    });
                    /*跳转至退出页面*/
                    $("#logOutConfirm").click(function () {
                        var path = [[${#request.getContextPath()}]];
                        var username = [[${#session.getAttribute("username")}]];
                        window.location.href=path+"/loginOut/"+username;
                    });
                }
            );
        </script>
    </div>
</body>
</html>